<h2> Team </h2>
Name: <%= @teamname %> <br>
Moto: <%= @teammoto %>

<h2> Hero 1 </h2>
Name <%= @hero1[:name] %> <br>
Power <%= @hero1[:power] %> <br>
Biography <%= @hero1[:bio] %> <br>

<h2> Hero 2 </h2>
Name <%= p @hero2[:name] %> <br>
Power <%= @hero2[:power] %> <br>
Biography <%= @hero2[:bio] %> <br>